page-trivia {
    .counterText{
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .2rem;
    }
    .questionText{
        color: #666;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
    }

    .btn{
        margin-bottom: 2rem;
    }
}
