page-loadp {
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 99vh;
    }

    .loadText{
        color: #666;
        font-size: 2rem;
    }
}
